@using QuizMasterPro.ViewModels.QuizViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@using QuizMasterPro.Controllers
@model DashboardViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
ViewData["SubTitle"] = Localizer["Quiz Overview"];
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <h2>@ViewData["SubTitle"]</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Latest Quizes</h2>
        <ul class="quiz-list">
            @foreach (var quiz in Model.LatestQuizzes)
            {
                <li>
                    <h4>@quiz.Title</h4>
                    <p>@quiz.Created.ToShortDateString()</p>
                    <p><a asp-controller="Quiz" asp-action="Show" asp-route-id="@quiz.Id">Show quiz</a></p>
                </li>
            }
        </ul>
        <p><a asp-controller="Quiz" asp-action="Index">More quizes...</a></p>
    </div>

    <div class="col-md-6">
        <h2>My Quizes</h2>
    </div>
</div>